{% load static %}

<div id="barra_menu">
    <div id="navcontainer" width="1920" height="64"
         style="background-image: url({% static 'main_app/img/BarraMenu.png' %});">
        <ul class="navlist2">
            <li id="activesub">
                <a href="/mapas" title="Mapas">Mapas</a>
            </li>
            <li>
                <a href="/estaciones" title="Estaciones">Estaciones</a>
            </li>
            <li>
                <a href="/senales" title="Senales">Senales</a>
            </li>

            <li>
                  <a href="/graficas" title="Graficas">Graficas</a> 
            </li>
            <li>
                <a href="#" onclick="javascript:previsionCaudales();" title="Prevision de caudales">VSAD</a>
            </li>            
            <li>
                <a href="#" onclick="javascript:mantenimiento();" title="Mantenimiento">Mantenimiento</a>
            </li>
            <li>
                <a href="http://belesar:5173" title="Modificar BB.DD">Modificar</a>
            </li>
            <li>
                <a href="/gestor/gestor" title="Gestor BB.DD">Gestor</a>
            </li>
            <li>
                <a href="/admin/" title="Admin">Admin</a>
            </li>
        </ul>
    </div>
</div>