@media (min-width: 1400px) {
	.two-blocks-wrapper .block-left {
		width: 100%;
		position: relative;
	}
}

@media (min-width: 1400px) {
	.two-blocks-wrapper .block-left {
		height: auto;
	}
}

.acm-cta {
	padding: 100px 22px 20px;
	height: auto;
}

@media (min-width: 1025px) {
	.acm-cta {
		padding-top: 20px;
	}
}

.acm-cta .cta-heading {
	line-height: none;
	margin: 0 auto 0;
	max-width: none;
}

.acm-cta .cta-intro {
	font-size: 27px;
    color: #ffff00;
}

.t3-content {
	padding: 0;
	max-width: none;
}

table {
	/*width: 0;*/
	width: auto;
}

th, td {
    vertical-align: middle;
}

td {
	border: none;
	text-align: center;
}

.t3-copyright {
	padding-top: 15px;
}

#back-to-top .btn {
	height: 40px;
}

.block-right {
    min-height: 0;
}

table.structure tr td {
	border-top: none;
}

table.left-aligned tr td {
	text-align: left;
}

.module-ct > ol.breadcrumb {
	text-align: left;	
}

.input-block {
	padding: 5px 10px;
}
.text-block {
	padding: 6px 10px 4px 10px;
}

div.main-title {
    font-weight: bold;
    padding: 5px 10px;
    text-align: left;
}

input.inline, select.inline {
	border-width: 1px;
	display: inline;
	height: auto;
	/*margin-top: -1px;*/
	/*padding-bottom: 1px;
	padding-top: 2px;*/
	padding: 0;
	/*width: auto;*/
}

input.datepicker.inline {
	border-width: 1px;
	display: inline;
	/*height: 20px;*/
	height: auto;
	padding: 0;
	width: 145px;
}

input[type=checkbox], input[type=radio] {
	/*margin-bottom: 4px;*/ /* quitado para ver centrado "Zoom vertical" */
    vertical-align: middle;
}

.aviso {
    color: #ff0000;
    font-weight: bold;
}

@media all and (-ms-high-contrast:none) {
    .foo { color: green } /* IE10 */
    *::-ms-backdrop, .foo { color: red } /* IE11 */
    *::-ms-backdrop, #buscar-texto { height: 24px; }
}

.header-container {
	border-top: none;
	border-bottom: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

nav {
	float: right;
	width: auto;
}

nav.second {
	float: left;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	float: left;
	/*border: 5px solid white;*/
	padding: 5px;
}

nav ul li a {
	background: #44a2c7;
	color: white;    
	display: block;
	float: none;
	font-weight: bold;
	margin: inherit;
	/*padding: 14px 16px;*/
	padding: 8px 10px;
    font-size: 14px;
	text-align: center;
	text-decoration: none;
	width: auto;
}

nav.second ul li a {
	background: #007bab;
}

@media screen and (max-width: 600px) {
	nav, nav.second {
		float: none;
	}

	nav ul li {
		float: none;
		display: block;
	}
}

#top {
	padding: 0;
	margin: 0;
	background: none;
	z-index: 9999;
}

@media only screen and (min-width: 480px) {
	nav ul li {
		display: inline;
	}
}

@media only screen and (min-width: 480px) {
	nav li:first-child a {
		margin-left: 0;
	}

	nav a:hover, nav a:visited {
		color: white;
	}
}

.center_content {
	background-color: inherit;
}

.main {
	padding: 0;
}

@media only screen and (min-width: 1140px) {
	.wrapper {
		width: 1026px;
		margin: 0 auto;
	}
}

.ui-tabs {
	margin-top: 5px;
}

ul.ui-tabs-nav {
	margin-top: 0;
	line-height: 2.2;
}

.ui-tabs-nav.ui-widget-header .ui-state-active {
	border: 1px solid #007bab;
	background: white;
}

.ui-widget-header .ui-state-active a {
	color: #007bab; /* #0078ae */
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #448dae;
	background: #79c9ec url("images/ui-bg_glass_75_79c9ec_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #026890;                
}

.ui-state-active .ui-icon {
	background-image: url("images/ui-icons_e0fdff_256x240.png");
}

.ui-icon {
	margin: 3px 5px 3px 0;
	line-height: 1;
}

.ui-icon.ui-chkbox-icon {
	margin-top: -2px;
    margin-left: -1px;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages {
	padding: 2px 10px;
}

.ui-icon.fa {
	text-indent: 0px;
	background-image: none;
}

.ui-widget.ui-inputfield {
	height: auto;
}

.ui-widget, .ui-widget.ui-inputfield {
	/*font-size: 16px;
	font-family: 'Karla', sans-serif;*/
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px; /* 12px; */
}

.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-content.ui-widget-content, 
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header.ui-widget-header,
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer.ui-widget-header,
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header > tr.ui-widget-header, 
.ui-panelgrid.ui-panelgrid-blank tbody > tr.ui-widget-content,
.ui-panelgrid.ui-panelgrid-blank tbody > tr.ui-widget-content > td.ui-panelgrid-cell,
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer > tr.ui-widget-footer {
	background: none !important;
	border: 0 none !important;
}  

.ui-panelgrid.ui-panelgrid-box tbody > tr.ui-widget-content,
.ui-panelgrid.ui-panelgrid-box tbody > tr.ui-widget-content > td.ui-panelgrid-cell {
	background: none !important;
	border-top: 0 none !important;
} 

legend {
	 font-size: inherit;
	 margin-bottom: 0;
}

.ui-fieldset .ui-fieldset-toggler {
	padding-right: 1.2em;
	margin-top: 0.1em;
}

.ui-button {
	margin: 0.5em;
}

select {
	padding-left: 6px;
}

a.fa {
	font: normal normal normal 14px/1 FontAwesome;
	color: #00a7e7;
}

/* quitado porque en Notebook los dialog no se centraban y los grandes aparecían tan abajo que no se veía la parte inferior */
/*.ui-dialog {
 top: 50% !important;
}*/

.ui-widget-content a {
    color: #00a7e7;
}

.ui-selectonemenu-table tr td {
	font-size: 14px; /* 12px; */
	text-align: left;
}

label {
    margin-right: 5px;
}

.ui-datatable-tablewrapper table tr th, .ui-datatable-tablewrapper table tr td {
	font-size: 14px; /* 12px; */
}

.ui-widget-content.ui-panelgrid-content, 
.ui-widget-header.ui-panelgrid-footer  {
	font-size: 14px; /* 12px; */
}

/* .ui-panelgrid .ui-panelgrd-content .ui-panelgrid-cell { */
.ui-panelgrid  tr td {
	font-size: 14px; /* 12px; */
}

.ui-widget-content.ui-dialog {
	border: 0;
}

.ui-widget-content.ui-dialog.foto .ui-dialog-content {
	padding: 0;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    width: 25px;
}
label {
    margin-right: 5px;
}
.block-right {
    min-height: 0;
}

#header {
    background-color: #f0f0f0;
    background-image: url('/vsad/resources/images/header.png');
    background-repeat: no-repeat;
    height: 124px;
    /*padding-top: 25px;*/
    text-align: center;
    /*vertical-align: middle;*/
}

#header-title {
   font-size: 32px;
   font-weight: bold;
   padding-top: 45px;
}

#header-side {
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 40px;
    top: 50px;
}