{% extends 'layouts/app.html' %}
{% load static %}

{% block header %}
<title> PREVISION DE CAUDALES </title>
<link rel="stylesheet" href="{% static 'vsad/css/style_saih.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'vsad/css/customselect.css' %}" type="text/css">
<script src="{% static 'vsad/js/fichas.js' %}"></script>
<script src="{% static 'vsad/js/lista_estaciones.js' %}"></script>
<script src="{% static 'vsad/js/filtro_estaciones.js' %}"></script>
<link rel="stylesheet" href="{% static 'vsad/css/uPlot.min.css' %}">
<script src="{% static 'vsad/js/uPlot.iife.min.js' %}"></script>
<script src="{% static 'vsad/js/tooltips.js' %}"></script>
<script src="{% static 'vsad/js/grafica.js' %}"></script>
<script src="{% static 'vsad/js/custom_select.js' %}"></script>


{% endblock %}

{% block onload %}
onload=updateCustomSelect(document.getElementById("div_selector_estaciones"))
{% endblock %}

{% block content %}
<div id="Contenido_principal" class="nivel0">
    <div id="codigo_estacion" hidden>{{estacion.estacionid}}</div>					
	<div id="Cabecera_prediccion" hidden>Gráfica de {{estacion.extendido}}({{estacion.estacionid}}) - Predicción de {{fecha_prediccion}}</div>
    Estacion: 
    <div id="div_selector_estaciones" class="custom-select">
        
        <select id="selector_estaciones" onchange=mostrarEstacion>				

            {% for estacion in estaciones %}

                <option class="option_estacion" onclick=mostrarGrafica('{{ estacion.estacion.estacionid }}') value={{estacion.estacion.estacionid}}>{{estacion.estacion.estacionid}} {{estacion.estacion.descripcion}}</option>       
            {% endfor %}
        </select>	
    </div>
    <div id="Div_Enlace_descargar_imagen">
        <a href=# onclick="downloadImage()">
            <b>GUARDAR GRÁFICA</b>, en formato <b>PNG</b>
        </a>
    </div>
		

<div id="grafica_container" class="Contenedor_claro ancho_100" >	
</div>
</div>


{% endblock %}