{% load static %}

<div id="table-container">
<!-- ---------------------------------------------------------- Segunda tabla: Datos de la estacion -------------------------------------------------------------->
		<table class="tabla ancho_fijo ">
			<tbody>
				<tr>
					<th class="encabezado_fijos" colspan="12">Datos Fijos</th>
				</tr>
				<tr>
					<th class="celdaln" >Código SAIH:</th>
					<td class="celdal fontsize20">{{senal.ls_tag_txt}}</td>
					<th class="celdaln">Estacion:</th>
					
                    <td class="celdal fontsize20">
						<!-- POR AHORA NO SE PUEDE ABRIR ESTACION DESDE SEÑAL PARA EVITAR UN BUCLE QUE COMPLICA EL CODIGO DE LAS FICHAS -->
						<!-- <a href="/estacion/{{senal.ls_estacion_txt.le_codigo_txt}}">-->
						<!--<a href="#" onclick="mostrarEstacion('{{ senal.ls_estacion_txt.le_codigo_txt }}')">-->
						{{senal.ls_estacion_txt.le_nombre}}
						<!--</a>-->
					</td>
				</tr>
				<tr>
					<th class="celdaln" >Tipo señal:</th>
					<td class="celdal fontsize20">{{senal.ls_tipo_senal}}</td>
					<th class="celdaln">Descripción:</th>
                    <td class="celdal fontsize20">{{senal.ls_descripcion}}</td>
				</tr>
			</tbody>
		</table>
</div>

<!-- Gráfica -->
<div id="grafica_container" class="Contenedor_claro ancho_fijo" >
	
</div>
<!--<div id="botones_grafica" class="Contenedor_claro ancho_fijo">
	<select >
		<option value='quinceminutales'>Quinceminutales </option>
		<option value='quinceminutales'>Horarios </option>
	</select>
	<input type='button' value='Ver tabla' onclick='verTabla();'></input>
</div>-->
<div id="div_tabla" class="Contenedor_claro ancho_estrecho">
	<table class="tabla ancho_estrecho" id="tabla_valores_grafica" >
		<tr>
			<th class="celdacn">Fecha</th>
			<th class="celdacn">Valor</th>
		</tr>
	</table>	
</div>

